.circle {
    height: 15px;
    width: 15px;
    background-color: #5b70bb;
    border-radius: 50%;
    margin: 4px;
  }

  .floatingedges .react-flow__handle {
    opacity: 0;
  }

  .floatingedges {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }

  .circle:hover {
    animation: bounce 1000ms infinite ease-out;
  }
  
  @keyframes bounce {
    0% {
      transform:  scale(1);
    }
    12.5% {
      transform:  scale(1.15);
    }
    25% {
      transform:  scale(1.08);
    }
    37.5% {
      transform:  scale(1.12);
    }
    50% {
      transform:  scale(1.1);
    }
  }
  